.personSelect {
	display: block;
	margin: auto;
	width: 90%;
	height: 30px;
	font-size: 1rem;
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png),
		-webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #aaa;
	color: #555;
	font-size: inherit;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: 768px) {
	.personSelect {
		width: 100%;
	}
}
