.home {
	margin: 0 auto;
	width: 80vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	border: 2px solid #e1e1e1;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 2rem;
}

@media (max-width: 768px) {
	.home {
		font-size: 0.8rem;
	}
}
