.header {
	height: 8vh;
	display: flex;
	align-items: center;
	padding: 1rem;
}

.header h1 {
	transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
	.header h1 {
		font-size: 1.5rem;
	}
}
