.clientData {
	height: 40vh;
	width: 50vw;
	margin: 2rem auto;
	display: flex;
	flex-flow: column;
	border: 2px solid #e1e1e1;
	background-color: rgba(0, 0, 0, 0.3);
	justify-content: center;
	padding: 5rem;
	align-items: center;
}

.clientData-input {
	width: 80%;
	padding: 10px;
}

.clientData label {
	margin-top: 0.5rem;
}
