body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url("./assets/home-background.jpg") no-repeat;
	background-size: cover;
	color: #e1e1e1;
}

#root {
	min-width: 100vw;
	min-height: 100vh;
}

button {
	width: 12vw;
	height: 50px;
	margin: 2rem auto;
	background-color: #ffffff;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: #425a70;
}

button:hover {
	background-color: #b5dcff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media (max-width: 768px) {
	button {
		width: 90%;
		height: 20%;
	}
}
